<div class="col-xs-6">
	<div class="row">
		<div  class="col-xs-9">Total Locations:</div>
		<div  class="col-xs-3 text-right" id="numLocs"></div>
	</div>
</div>

<table class="table table-condensed table-headings-left" style="table-layout: fixed;">
	<thead>
		<tr>
			<th>Loc</th>
			<th>PBI</th>
		</tr>
	</thead>
</table>

<div id="scrollableTableData" class="resize" style="overflow: auto;">
<table class="table table-striped table-condensed"  style="table-layout: fixed;">
	<tbody>
<!--- TableRows go here --->
		</tbody>
</table>
</div>



